.main-container {
  margin: 0 auto;
  width: 85vw;
  /* padding-bottom: 5rem; */
  color: #17161b;
}

.contact-title {
  margin-top: 7rem;
  font-size: 7em;
  font-family: NeometricExtraBold, sans-serif;
}

.dot {
  color: #ffe761;
}

.github, .email, .phone, .blog {
  background-repeat: no-repeat;
  background-size: contain; /* or cover, or whatever fits your design */
  padding-left: 6.5rem; /* Adjust the padding to create space for the image */
  display: inline-block;
  font-size: 1.5em;
  line-height: 3.2em;
  font-family: proxima nova semibold, sans-serif;
  transition: opacity 0.3s;
}

.github {
  background-image: url('https://icons.veryicon.com/png/o/miscellaneous/eva-icon-fill/github-41.png');
}

.email {
  background-image: url('https://icons.veryicon.com/png/o/business/vscode-program-item-icon/email-205.png');
  color: #42a5f5;
}

.phone {
  background-image: url('https://icons.veryicon.com/png/o/business/circular-multi-color-function-icon/phone-phone.png');
  color: #57e087;
}

.blog {
  background-image: url('https://icons.veryicon.com/png/o/brands/popular-brand-icon-simple-icons/notion.png');
}

.github:hover, .email:hover, .phone:hover, .blog:hover {
  opacity: 0.6;
}

.content-container {
  display: flex;
  gap: 5rem;
  margin-top: 8rem;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  flex: 1;
}

.link-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.link-container:nth-child(1) {
  padding-right: 3rem;
}

.mail-container {
  flex: 1;
}
