@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css');

.top-section {
  background-color: #fbe353;
  color: #17161b;
}

.top-content-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 3rem 4rem 3rem;
  margin: 0 auto;
  text-align: center;
  font-family: PretendardMedium, sans-serif;
}

/* .logo-img {
  margin-bottom: 2rem;
} */

.logo {
  font-family: 'SUIT', sans-serif;
  font-weight: 800;
  font-size: 4em;
  margin-bottom: 2.5rem;
  color: rgb(26, 26, 26);
}

.top-content-text {
  font-size: 1.2em;
  margin-bottom: 3rem;
  line-height: 2.5rem;
}

.project-links {
  display: flex;
  gap: 2rem;
  font-family: PretendardBold;
  font-size: 1.3em;
}

.project-link-container {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.project-link {
  border-bottom: 1px solid transparent;
}

.arrow {
  font-size: 1.4em;
  animation: moveArrow 1s ease-in-out infinite;
}

.project-link:hover {
  border-bottom: 1px solid #000;
}

@keyframes moveArrow {
  0% {
    transform: translateX(0); /* Start position */
  }
  50% {
    transform: translateX(6px); /* Move 2px to the right */
  }
  100% {
    transform: translateX(0); /* Return to the original position */
  }
}