.top-section {
  background-color: #fff;
  color: #17161b;
}

.top-content-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 3rem 7rem 3rem;
  margin: 0 auto;
  text-align: center;
  font-family: PretendardMedium, sans-serif;
}

.logo {
  font-family: 'PretendardBold', sans-serif;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
  color: rgb(23, 22, 27);
}

.logo-text {
  font-size: 5em;
}

.logo-dot {
  color: #ffe761;
  font-size: 6em;
}

.top-content-text {
  font-size: 1.2em;
  margin-bottom: 4rem;
  line-height: 2.5rem;
}

.project-links {
  display: flex;
  gap: 2rem;
  font-family: PretendardBold;
  font-size: 1.3em;
}

.project-link-container {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.project-link {
  border-bottom: 1px solid transparent;
}

.arrow {
  font-size: 1.4em;
  animation: moveArrow 1s ease-in-out infinite;
}

.project-link:hover {
  border-bottom: 1px solid #000;
}

@keyframes moveArrow {
  0% {
    transform: translateX(0); /* Start position */
  }
  50% {
    transform: translateX(6px); /* Move 2px to the right */
  }
  100% {
    transform: translateX(0); /* Return to the original position */
  }
}