.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 5rem; */
    width: 85vw;
    margin: 0 auto;
    padding-top: 1.5rem;
}

.home {
    font-size: 1.8em;
}

.nav-container {
    font-family: PretendardMedium, sans-serif;
    font-size: 1.1em;
}

.nav-container a {
    margin-right: 2vw;
}

.nav-container a:last-child {
    margin-right: 0;
}