@font-face {
    font-family: "NeueMontrealMedium";
    src: url('/font/Montreal/PPNeueMontreal-Medium.woff') format('woff'); /* Modern Browsers */
  }

@font-face {
    font-family: "PretendardBold";
    src: url('/font/Pretendard/Pretendard-Bold.woff2') format('woff2'); /* Modern Browsers */
}

@font-face {
    font-family: "PretendardMedium";
    src: url('/font/Pretendard/Pretendard-Medium.woff2') format('woff2'); /* Modern Browsers */
}

@font-face {
    font-family: "PretendardSemiBold";
    src: url('/font/Pretendard/Pretendard-SemiBold.woff2') format('woff2'); /* Modern Browsers */
}

@font-face {
    font-family: "NeometricExtraBold";
    src: url('/font/Neometric-Extra-Bold-_Bold_.woff') format('woff'); /* Modern Browsers */
}

@font-face {
    font-family: "NeometricLegular";
    src: url('/font/Neometric-Regular.woff') format('woff'); /* Modern Browsers */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    /* background-color: #fefefe; */
    /* background-color: #f7f3e9; */
    /* background-color: #f8f8f8; */
    /* background-color: #fffafa; */
    /* background-color: #f5f5f7; */
    background-color: #ffffff;
}